@use "/src/_variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ebff00;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }
}

.button-full {
  color: #000000;
  background-color: #ebff00;

  @include responsive("small") {
    width: 161px;
    height: 33px;
    font-size: 16px;
  }

  @include responsive("medium") {
    width: 191px;
    height: 54px;
    font-size: 22px;
  }
}

.button-empty {
  color: #ebff00;
  background-color: transparent;

  @include responsive("small") {
    width: 161px;
    height: 33px;
    font-size: 16px;
  }

  @include responsive("large") {
    width: 191px;
    height: 54px;
    font-size: 22px;
  }
}
