.offers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1088px;
  margin-top: 58px;
  margin-bottom: 62px;
}

.offers-grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}