@use "/src/_variables" as *;

.journey {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  max-width: 1088px;
  margin-bottom: 60px;

  h2 {
    text-align: start;

    @include responsive("small") {
      font-size: 18px;
    }

    @include responsive("medium") {
      font-size: 24px;
    }

    @include responsive("large") {
      font-size: 32px;
    }
  }

  &__text-container {
    text-align: start;
    line-height: 24px;
    opacity: 60%;
    max-height: 72px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

    @include responsive("small") {
      font-size: 14px;
    }

    @include responsive("medium") {
      font-size: 16px;
    }

    @include responsive("large") {
      font-size: 20px;
    }
  }

  &__read-more-toggle {
    display: none;

    &:checked ~ .journey__text-container {
      max-height: 1000px;
      opacity: 1;
    }

    &:checked ~ .journey-button::before {
      content: "Read less";
      color: #ebff00;
    }
  }
}

.journey-button {
  width: 150px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: start;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &::before {
    content: "Read more";
    color: #ebff00;
    font-family: "Lato", serif;
    font-weight: 800;

    @include responsive("small") {
      font-size: 14px;
      line-height: 16.8px;
    }

    @include responsive("medium") {
      font-size: 16px;
      line-height: 19.2px;
    }

    @include responsive("large") {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
