@use "/src/_variables" as *;

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #000000;
  margin-bottom: 20px;
  z-index: 70;
  box-sizing: border-box;

  @include responsive("small") {
    height: 48px;
  }

  @include responsive("medium") {
    height: 80px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1088px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: fit-content;

  @include responsive("small") {
    gap: 4px;
  }

  @include responsive("large") {
    gap: 6px;
  }

  img:nth-child(1) {
    @include responsive("small") {
      width: 24px;
      height: 24px;
    }

    @include responsive("large") {
      width: 35.11px;
      height: 35.11px;
    }
  }

  img:nth-child(2) {
    @include responsive("small") {
      width: 43.1px;
      height: 17.37px;
    }

    @include responsive("large") {
      width: 63px;
      height: 25.47px;
    }
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;

  li {
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to right, #ebff00, #ff70d9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.nav-cart {
  width: 24px;
  height: 20px;
  background-image: url("/cart-white.svg");

  &:hover {
    background-image: url("/cart-hovered.svg");
  }
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__line {
    width: 24px;
    height: 3px;
    margin: 3px 0;
    background-image: url("/burger-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;
  }

  &--open {
    .burger-button__line {
      &:nth-child(1) {
        transform: rotate(45deg) translateY(6px) translateX(6.3px);
        width: 28.6px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-6px) translateX(6.3px);
        width: 28.6px;
      }
    }
  }
}

.header__mobile-layer {
  position: absolute;
  top: 48px;
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  max-height: 70vh;
  z-index: 60;
}

.nav-list__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__mobile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: 70px;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to right, #ebff00, #ff70d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
