@use "/src/_variables" as *;

.offers-card {
  position: relative;
  display: flex;
  width: 100%;
  height: 350px;
  padding-left: 35px;
  padding-top: 35px;
  box-sizing: border-box;

  @include responsive("small") {
    padding-left: 26px;
    padding-top: 90px;
  }

  @include responsive("large") {
    padding-left: 35px;
    padding-top: 35px;
  }

  .offers-card__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: left;

    h3 {
      width: 250px;

      @include responsive("small") {
        font-size: 40px;
        line-height: 40px;
      }

      @include responsive("large") {
        font-size: 46px;
        line-height: 46px;
      }
    }
    h4 {
      @include responsive("small") {
        font-size: 16px;
      }

      @include responsive("large") {
        font-size: 24px;
      }
    }
  }

  &:first-child,
  &:last-child {
    @include responsive("medium") {
      grid-column: span 1;
    }

    @include responsive("large") {
      grid-column: span 2;
    }

    .offers-card__content {
      h3 {
        @include responsive("small") {
          width: 250px;
          font-size: 40px;
          line-height: 40px;
        }

        @include responsive("large") {
          width: 650px;
          font-size: 74px;
          line-height: 74px;
        }
      }
      h4 {
        @include responsive("small") {
          font-size: 16px;
        }

        @include responsive("large") {
          font-size: 26px;
        }
      }
    }
  }
}

.offers-card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.offers-card__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    rgb(0 0 0 / 0%),
    rgb(15 20 32 / 79%)
  );
  pointer-events: none;
}

.offers-card__content {
  display: flex;
  flex-direction: column;
  z-index: 50;
}
