.offers-card {
  position: relative;
  display: flex;
  width: 100%;
  height: 350px;
  padding-left: 35px;
  padding-top: 35px;

  .offers-card__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: left;
    h3 {
      width: 250px;
      font-size: 46px;
      line-height: 46px;
    }
    h4 {
      font-size: 24px;
    }
  }

  &:first-child,
  &:last-child {
    grid-column: span 2;

    .offers-card__content {
      h3 {
        width: 650px;
        font-size: 74px;
        line-height: 74px;
      }
      h4 {
        font-size: 26px;
      }
    }
  }
}

.offers-card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.offers-card__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(15, 20, 32, 0.79));
  pointer-events: none;
}

.offers-card__content {
  display: flex;
  flex-direction: column;
  z-index: 50;
}
